/*HEADER STYL*/

#header-container {
    background-color: #1b1b1b
}

.nav-link:hover {
    background: #424242;
    border-radius: 10px;
    color: #ffffff !important;
}

.icon-bar {
    color: #ffffff;
    width: 20%
}

.Header-container-alignV {
    display: flex;
    align-items: center;
    color: #ffffff
}

.Login {
    color: #ffffff;
    text-decoration: none !important
}

.Login:hover {
    font-size: 15px;
    color: #ffffff
}

.breadcrumb {
    background: none !important;
}

/* Header styles*/

/*Carrusel*/

.carousel-inner {
    border-radius: 10px;
    border: #eeeeee solid .1px !important;
    box-shadow: 5px 5px 10px #eeeeee;
    margin: auto;
    width: 80%;
}

.carousel-item {
    text-align: center;
    padding: 1em;
}

/* Footer styles*/

.Footer {
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    background-color: #1b1b1b;
    vertical-align: bottom;
    color: #ffffff;
}

.container-footer {
    display: flex;
    align-items: center
}