<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
    <link  rel="icon"    href="{% static 'bikeApp/img/favico.png' %}" type="image/png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block title %} <title>BikeStore</title> {% endblock %}
    <!-- Bootstrap -->
    <link href="{% static 'bikeApp/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href=" {% static 'bikeApp/css/base.css' %} ">

    <!--Font awesome-->
    <link href="{% static 'bikeApp/fontawesome/css/fontawesome.css' %}" rel="stylesheet">


</head>

<body class="body">
    <!--HEADER BEING-->
    <header id="header-container">
        <div class="container">
            <div class="row Header-container-alignV">
                <div class="col-6 col-md-4">
                    <h1 class="name-app">Adsi Store</h1>
                </div>
                <div class="col-6 text-right d-block d-sm-none">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars" style="color: white"></i>
                    </button>

                </div>

                <div class="col-6 col-md-6 offset-md-2 text-right d-none d-sm-block">
                    <a href="#" class="Login text-uppercase font-weight-bold">Login</a>
                </div>
            </div>
        </div>
    </header>
    <!--HEADER END-->

    <!--BEING MENU-->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <!--NAVBAR APLICATION-->
            <div class="collapse navbar-collapse justify-content-sm-center text-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="{% url 'home' %}" class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'service' %}" class="nav-link">Servicios</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a href="{% url 'store' %}" class="nav-link" tabindex="-1">Tienda</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a href="{% url 'blog' %}" class="nav-link" tabindex="-1">Blog</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a href="{% url 'contact' %}" class="nav-link" tabindex="-1">Contactos</a>
                    </li>
                </ul>
            </div>
            <!--END NAVBAR APLICATION-->
            <div class="col-12 col-md-6 d-none d-md-block">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="¿Encontro lo que buscaba?">
                        <span class="input-group-btn">
                            <button class="btn btn-adsi">
                                Buscar
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <!--BEING MENU-->

    <!--Content main content-->

    {% block content %}


    {% endblock %}

    <!--Begin footer-->
    <footer class="Footer">
        <div class="container-fluid row container-footer">
            <div class="Footer-left col-12 col-md-8">
                <h3 class="Footer-title">Contácto</h3>
                <p class="Footer-description">
                    Si tienes una sugerencia o quieres trabajar conmigo, ponte en contácto
                    con este formulario
                </p>
            </div>
            <form class="Footer-form col-12 col-md-4">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Nombre" />
                    <input class="form-control" type="email" placeholder="Email" />
                    <textarea class="form-control" placeholder="Motivo"></textarea>
                    <button class="btn btn-success" type="submit">Contactarme</button>
                </div>
            </form>
        </div>

    </footer>
    <!--End footer-->

    <!--J query-->
    <script src="{% static 'bikeApp/jquery/jquery.min.js' %}"></script>
    <!--Bootstrap-->
    <script src="{% static 'bikeApp/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--fontawesome-->
    <script src="{% static 'bikeApp/fontawesome/js/fontawesome.js' %}"></script>
    <!--Popper-->
    <script src="{% static 'bikeApp/popper/popper.js'%}"></script>

</body>

</html>