<!--Herencia de base.html-->
{% extends "bikeApp/base.html" %}

{% block title %} <title>Bikestore-Service</title> {% endblock %}

<!--breadcrumbs-->
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Servicios</li>
    </ol>
</nav>
{% endblock %}